.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 90%;
  margin: 0 auto;
  gap: 1rem;
  box-sizing: border-box;
}

.grid {
  display: grid;
  justify-content: center;
  align-content: start;
  flex-grow: 1;
  width: 100%;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: white;
  border: solid 1px #eee;
  box-sizing: border-box;
  transition: background-color 0.1s ease;
}

.cell.dead {
  background-color: white;
}

.cell.alive {
  background-color: #80d180;
}
